* {
  font-family: "Poppins";
}

@font-face {
  font-family: 'Aller';
  src: url('Aller_BdIt.ttf');
}

@font-face {
  font-family: 'Aller Italic';
  src: url('Aller_It.ttf');
}

section.main {
  background-image: url("Imagenes/background.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

section.main h1{
  font-family: 'Aller Italic';
}

section.main span,
footer h3{
  font-family: 'Aller';
}

section.hero {
  background-color: #f6f7f6;
}

section.eleccion{
  background-image: url('Imagenes/background.png');
}

.hero-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1541888946425-d81bb19240f5?ixlib=rb-4.0.3&auto=format&fit=crop&w=2070&q=80');
  background-size: cover;
  background-position: center;
}


.contact-bg {
  background-image: linear-gradient(rgba(63, 184, 77, 0.8), rgba(30, 109, 38, 0.8)), url('https://images.unsplash.com/photo-1560518883-ce09059eeffa?ixlib=rb-4.0.3&auto=format&fit=crop&w=2073&q=80');
  background-size: cover;
  background-position: center;
}

.wpp {
  position: fixed;
  bottom: 20px;
  right: 20px;
}